# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Secrets
.env
*.env.local
config.yaml
deploy.yaml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Generated
/srv/
*.kube
*.bak
job.md
card.jpg

# Docker
*.tar
*.tar.gz
